.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.home-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.home-title {
  font-size: 30px;
  margin: 20px 0;
  font-weight: 900;
  display: block;
  font-family: "Syne Mono", monospace;
}
